connector-php/vendor/
connector-php/var/tokens/
connector-php/var/sessions/
connector-php/config/profiles.php
connector-php/var/
!connector-php/var/
connector-php/var/*
.log
.env
.env.
vendor/
!connector-php/var/.gitkeep
suitesidecar.code-workspace
